﻿@page
@model Web.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio de Sesión</title>
</head>
<body>
    <form method="post" class="form-horizo">
        
        <table width="100%" align="center">
            <tr>
                <td width="30%"></td>
                <td colspan="2" align="center">
                    <h3>Inicio de Sesión</h3>
                </td>
                <td width="30%"></td>
            </tr>
            <tr>
                <td width="30%"></td>
                <td align="right">
                    <div>
                        <label for="Usuario">Usuario:</label>

                    </div>
                </td>
                <td align="left">
                    <input asp-for="@Model.Login.Usuario" />
                </td>
                <td width="30%"></td>
            </tr>
            <tr>
                <td width="30%"></td>
                <td align="right">
                    <div>
                        <label for="Contrasena">Contraseña:</label>

                    </div>
                </td>
                <td align="left">
                    <input type="password" asp-for="@Model.Login.Contraseña" />
                </td>
                <td width="30%"></td>
            </tr>
            <tr>
                <td width="30%"></td>
                <td colspan="2" align="center">
                    <div>
                        <input type="submit" value="Ingresar" asp-page-handler="Login" />
                    </div>
                    <div>
                        @Model.Mensaje
                    </div>
                </td>
                <td width="30%"></td>
            </tr>
        </table>
        

    </form>

</body>
</html>
