﻿@page "{ID:long}"
@model Web.Pages.Account.DetailsFavoriteAccountModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle de Cuenta Favoritas</title>
</head>
<body>
    <h1>Detalle de Cuenta Favoritas</h1>
    <div><strong>Id Cuenta:</strong></div>
    <input asp-for="FavoriteAccounts.CuentaId" disabled />
    <div><strong>Alias:</strong></div>
    <input asp-for="FavoriteAccounts.Alias" disabled />
    <div><strong>Tipo Cuenta:</strong></div>
    <input asp-for="FavoriteAccounts.CuentaTipoName" disabled />
    <div><strong>Moneda:</strong></div>
    <input asp-for="FavoriteAccounts.MonedaCuentaName" disabled />
</body>
</html>
