﻿@page "{ID:long}"
@model Web.Pages.Account.DetailsMyAccountModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle de Mis Cuentas</title>
</head>
<body>
    <h1>Detalle de Mis Cuentas</h1>
    <div><strong>Id Cuenta:</strong></div>
    <input asp-for="MyAccounts.CuentaId" disabled />
    <div><strong>Balance:</strong></div>
    <input asp-for="MyAccounts.Balance" disabled />
    <div><strong>Tipo Cuenta:</strong></div>
    <input asp-for="MyAccounts.CuentaTipoName" disabled />
    <div><strong>Moneda:</strong></div>
    <input asp-for="MyAccounts.MonedaName " disabled />
</body>
</html>
