﻿@page 
@model Web.Pages.Account.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Historial de Cuenta</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td>
                <h1>Historial de Cuenta</h1>
            </td>
            <td></td>
            <td align="right">
                <div>
                    <a asp-page="/Transaction/Index">Registrar una Transacción</a>
                </div>
            </td>
            <td align="right">
                <div>
                    <a asp-page="/ChangePassword/Index">Cambio de Contraseña</a>
                </div>
            </td>
            <td align="right">
                <div>
                    <a asp-page="Index" asp-page-handler="Logout">Cerrar Sesión</a>
                </div>
            </td>
        </tr>
    </table>
    <h3>Mi Cuenta</h3>
    <table>
        <thead>
            <tr>
                <th>Id Cuenta</th>
                <th>Balance </th>
                <th>Tipo Cuenta</th>
                <th>Moneda</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyAccounts)
            {
                <tr>
                    <td>@item.CuentaId</td>
                    <td>@item.Balance</td>
                    <td>@item.CuentaTipoName</td>
                    <td>@item.MonedaName</td>
                    <td>
                        <a asp-page="/Account/DetailsMyAccount" asp-route-id="@item.CuentaId">Detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <h3>Cuenta Favoritas</h3>
    <table>
        <thead>
            <tr>
                <th>Id Cuenta</th>
                <th>Alias </th>
                <th>Tipo Cuenta</th>
                <th>Moneda</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.favoriteAccounts)
            {
                <tr>
                    <td>@item.CuentaId</td>
                    <td>@item.Alias</td>
                    <td>@item.CuentaTipoName</td>
                    <td>@item.MonedaCuentaName</td>
                    <td>
                        <a asp-page="/Account/DetailsFavoriteAccount" asp-route-id="@item.CuentaId">Detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Model.Mensaje
    </div>
</body>
</html>
