﻿@page
@model Web.Pages.ChangePassword.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cambio de Contraseña</title>
</head>
<body>
    <form method="post">
        <h3>Cambio de Contraseña</h3>
        <table>
            <tr>
                <td>
                    <div>
                        <label for="ContrasenaActual">Contraseña Actual:</label>
                        
                    </div>
                </td>
                <td>
                    <input type="password" asp-for="@Model.ChangePassword.ContraseñaActual" />
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="Nueva Contrasena">Nueva Contraseña:</label>
                    </div>
                </td>
                <td>
                    <input type="password" asp-for="@Model.ChangePassword.NuevaContraseña" />
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="ConfirmarNuevaContrasena">Confirmar Nueva Contraseña:</label>
                    </div>
                </td>
                <td>
                    <input type="password" asp-for="@Model.ChangePassword.ConfirmarNuevaContraseña" />
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Actualizar" asp-page-handler="ChangePassword" />
        </div>
        <div>
            @Model.Mensaje
        </div>

    </form>
</body>
</html>
