﻿@page
@model Web.Pages.Transaction.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transacción</title>
</head>
<body>
    <form method="post">
        <h3>Transacción</h3>
        <table>
            <tr>
                <td>
                    <div>
                        <label for="MiCuenta">Cuenta Origen:</label>
                        
                    </div>
                </td>
                <td>
                    <select asp-for="@Model.Transaccion.MyAccountId" asp-items="@Model.SelectMyAccounts">
                        <option>Seleccionar</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="TipoTransferencia">Tipo de Transferencia:</label>
                    </div>
                </td>
                <td>
                    <select asp-for="@Model.Transaccion.TypeTransferenciaId" asp-items="@Model.SelectTypeTrans">
                        <option>Seleccionar</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="CuentaDestino">Cuenta Destino:</label>
                    </div>
                </td>
                <td>
                    <select asp-for="@Model.Transaccion.AccountDestiId" asp-items="@Model.SelectAccountDesti">
                        <option>Seleccionar</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="Monto">Monto:</label>
                        
                    </div>
                </td>
                <td>
                    <input type="text" asp-for="@Model.Transaccion.Monto" />
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="Moneda">Moneda:</label>
                        
                    </div>
                </td>
                <td>
                    <select asp-for="@Model.Transaccion.MonedaId" asp-items="@Model.SelectMonedas">
                        <option>Seleccionar</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="Descripcion">Descripción:</label>
                    </div>
                </td>
                <td>
                    <input type="text" asp-for="@Model.Transaccion.Descripcion" />
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Registrar" asp-page-handler="Transaction" />
        </div>
        <div>
            @Model.Mensaje
        </div>

    </form>
</body>
</html>
